@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

body {
  margin: 0;       /* elimina márgenes por defecto */
  padding: 0;      /* elimina padding por defecto */
  height: 100%;    /* asegura que ocupen toda la pantalla */
  width: 100%;
  font-family: 'Poppins', sans-serif;
  background: url("Assets/FondoMain.png");
  background-size: cover;       /* cubre toda el área */
  background-position: center;  /* centra la imagen */
  background-repeat: no-repeat; /* evita que se repita */
  background-attachment: fixed; /* opcional: efecto parallax */
}

.BtnInicio {
    width: 150px;
    height: 150px;
}

.ContenedorGeneral {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    gap: 10%;
}

.TxtPresentacion {
    background: linear-gradient(90deg, #e4e4e4, #ffffff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-size: 5rem;
}

.ContenedorLogBox {
    display: flex;
    justify-content: center;
}

.LogBox {
    background-color: #22222296;
    padding: 0px 50px 20px 50px; 
    text-align: center;
    border: 1px solid #000000;
    border-radius: 10px;
    overflow: hidden; 
}

.ContenedorTitulo {
    background-color: black;
    padding: 1px;
    margin-bottom: 20px;
    margin-left: -50px;  
    margin-right: -50px; 
}

.TituloInicioSesion {
    color: #ffff;
}

.ContenedorInputUser {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.Spans {
    display: flex;
    color: #ffff;
}

.Inputs {
    color: #ffff;
    padding: 10px;
    width: 200px;
    background-color: transparent;
    border: 1px solid #000000;
    border-radius: 5px;
}

.ContenedorBoton {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.BtnIniciar {
    color: #ffff;
    font-weight: bold;
    cursor: pointer;
    background: linear-gradient(90deg, rgb(140, 0, 255),rgb(212, 0, 255), rgb(255, 0, 128));
    border-radius: 5px;
    padding: 15px;
    width: 195px;
}

.ContenedorRegistrate {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.SpanRegistro {
    color: #ffff;
    font-size: 0.9rem;
}

.LinkRegistro {
    font-size: 0.8rem;
    color: #a309fc;
}